{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="single">
        <div class="single__hero">
            {% if blog.image %}
                <img src="{{ blog.image.url }}" alt="blog photo" class="single__image">
            {% else %}
                <img src="{% static 'blog/images/icons/logo.png' %}" alt="blog photo" class="single__image">                
            {% endif %}
            <h2 class="title title--single">
                <a href="/blog/{{blog.id}}">{{ blog.title }}</a>
            </h2>
        
        </div>
        <div class="single__details inner">
            {% if request.user == blog.author %}
                <a href="{% url 'blog-update' blog.pk %}" class="update">Update</a>
                <a href="{% url 'blog-delete' blog.pk %}" class="delete">Delete</a>
            {% endif %}
            <p class="single__date">
                {{ blog.date_posted|date:"F d, Y" }}
            </p>
            {% for text in blog.content_as_list %}
                <p>{{ text }}</p>
            {% endfor %}

            {% if user.is_authenticated %}
                <form class='reviewer' action="/reviews/{{ blog.id }}/" method='POST'>
                    {% csrf_token %}
                    {{ form }}   
                    <div class="reviewer__meta">
                        <input type="submit" value='Submit Comment' class="button">
                    </div>
                </form>
            {% endif %}
            {% if not blog.comments.all %}
                <p>No comments yet...</p>

            {% else %}
                <div class="reviews">
                {% for comment in blog.comments.all %}
                    <div class="review">
                        <div class="review__header">
                            <div class="review__author">
                                <img src="{{ comment.user.profile.image.url }}" alt="" class="avatar">
                                <p>{{ comment.user.username }}</p>
                                <p class='review__time' datetime={{comment.date_posted}}>{{comment.date_posted|date:'D d M Y'}} </p>
                            </div>

                        </div>
                        <div class="review__body">
                            <p> {{ comment.comment }}</p>
                        
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}

        </div>
        
            
    
    </div>


{% endblock content %}


