{% extends 'blog/base.html' %}
{% block content %}
    <div class="single">
        <div class="single__hero">
            <img src="{{ blog.image.url }}" alt="blog photo" class="single__image">
            <h2 class="title title--single">
                <a href="/blog/{{blog.id}}">{{ blog.title }}</a>
            </h2>
        
        </div>
        <div class="single__details inner">
            <p class="single__date">
                {{ blog.date_posted|date:"F d, Y" }}
            </p>
            {% for text in blog.content_as_list %}
                <p>{{ text }}</p>
            {% endfor %}
        </div>
            
            
    
    </div>


{% endblock content %}


