{% extends 'blog/base.html' %}
{% block content %}
    <div class="inner">
        <h2>BLOGS</h2>
        <div class="blogs">
        {% for blog in blogs %}
                <div class="blog">
                    <div class="blog__hero">
                        <div class="blog__actions"></div>
                        <img
                            src="blog.image.url"
                            alt="blog photo"
                        />
                        <h2 class="title">
                            <a href="/blog/concert">Concert</a>
                        </h2>
                    </div>
                    <div class="blog__details">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Congue mauris rhoncus aenean vel elit
                            scelerisque mauris pellentesque. Eu non
                        </p>
                    </div>
                </div>
        {% endfor %}
        </div>

    </div>
{% endblock content %}