{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="inner">
        <h2>BLOGS</h2>
        <div class="blogs">
        {% if blogs %}
            {% for blog in blogs %}
                    <div class="blog">
                        <div class="blog__hero">
                            <div class="blog__actions">
                                {% if blog.author == request.user %}
                                    <div class='blog__action blog__action--edit'>
                                        <a href="/blog/{{ blog.id }}/update">
                                            <img src="{% static 'blog/images/icons/edit2.svg' %}" alt="">
                                        </a>
                                        
                                    </div>
                                {% endif %}
                            </div>
                            {% if blog.image %}
                            <img
                                src="{{ blog.image.url }}"
                                alt="blog photo"
                            />
                            {% else %}
                                <img src="{% static 'blog/images/icons/logo.png' %}" alt="blog photo">                

                            {% endif %}
                            <h2 class="title">
                                <a href="{% url 'blog-detail' blog.pk %}">{{ blog.title }}</a>
                            </h2>
                        </div>
                        <div class="blog__details">
                            <p class="author">
                                {{ blog.author.username }}
                            </p>
                            <p>
                                {{ blog.first_30_words }}
                            </p>
                        </div>
                    </div>
            {% endfor %}
            
        </div>
        {% else %}
            <h2>You don't have any blogs</h2>
        {% endif %}
        {% if is_paginated %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <div class="pagination__prev">
                        <a href="?page=1">First</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </div>
                {% endif %}
                <div class="pagination__text">
                    <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} - {{ page_obj.paginator.count}} total results</p>
                </div>
                {% if page_obj.has_next %}
                    <div class="pagination__next">
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>

                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content %}