input,
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid rgba(23, 23, 197, 0.45);
    font-size: 1.5rem;
    outline: none;
    resize: none;
    white-space: pre-wrap;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    /* margin-bottom: 1rem; */
}
input:focus,
textarea:focus {
    box-shadow: 0 0 4px 1px rgb (7, 132, 250);
}
input.input--error,
textarea.input--error {
    border-color: red;
}
input[type='file'] {
    margin-top: 1rem;
    width: 86%;
}
input[type='checkbox'] {
    display: block;
    margin-top: 2rem;
    margin-bottom: -2.7rem;
    width: 20%;
}
label {
    padding: 10px 0;
    font-size: 2rem;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.form {
    background: white;
    padding: 3rem;
    box-shadow: linear-gradient(90deg, #48ded4 0%, #e82c75 35%, rgb(255, 196, 0) 75%, #33e2d7 95%);
}
.form {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.form h2 {
    margin: 0;
    width: 90%;
    font-size: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(52, 52, 233);
}
.form h2.no-underline {
    border: none;
}

input.button.delete {
    width: 50%;
    margin-top: 2rem;
    background-color: rgb(190, 49, 49);
    color: white;
    cursor: pointer;
}

input.button.save {
    margin-top: 2rem;
    color: whitesmoke;
    background: rgb(31, 177, 31);
}
input.button.save:hover {
    background: rgb(46, 219, 46);
}
input.button:hover {
    background-color: rgb(190, 40, 40);
}

/**** form error messages ****/
.error .controls p strong {
    color: red !important;
    font-size: 1.3rem !important;
}

.error input,
.error textarea {
    border: 1px solid rgb(216, 44, 44);
    box-shadow: 0 0 4px 1px rgb(216, 44, 44);
}

.controls p,
.controls li {
    color: rgba(0, 0, 0, 0.8);
    font-family: sans-serif;
}

/***** login error message ******/
.alert-error {
    padding: 1rem 0;
    background-color: rgba(216, 44, 44, 0.3);
    width: 90%;
    margin-bottom: 0.5rem;
}

.alert-error ul {
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(145, 19, 19);
}

/**** cancel button ****/
a.button.cancel {
    padding: 1rem 2rem;
    margin: 2rem 0 0 1rem;
    background-color: rgb(156, 152, 152);
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    white-space: pre-wrap;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    text-decoration: none;
}
a.button.cancel:hover {
    background-color: rgb(146, 135, 135);
}
