html {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body {
    background: #efefef;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}
body::before {
    content: '';
    display: block;
    background: linear-gradient(
        90deg,
        #48ded4 0%,
        #e82c75 35%,
        rgb(255, 196, 0) 75%,
        #33e2d7 95%
    );
    height: 10px;
    width: 100%;
}
.inner {
    max-width: 60%;
    margin: 0 auto;
}
