.user-card {
    padding: 3rem;
    margin: 2rem 0;
    width: 90%;
    /* border-radius: 20px; */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    background-color: white;
}

.user-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.user-card .details {
    margin-left: 4rem;
    flex: 1;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.user-card h2,
.user-card p {
    font-family: 'Roboto', sans-serif;
    margin: 1rem 0;
}

.user-card p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
}
